<p>
	<%= form_for @profile do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br>

		<%= f.label :age %>
		<%= f.text_field :age %><br>

		<%= f.label :location %>
		<%= f.text_field :location %><br>

		<%= f.label :phone_number %>
		<%= f.text_field :phone_number%><br>

		<%= f.label :email %>
		<%= f.text_field :email %><br>

		<p><%= f.submit %><p>
	<% end %>
</p>