<% for possible_friend in @profile.possible_friends %>
	<%= form_tag friendships_path do %>
	  <%= hidden_field_tag 'friend_id', possible_friend.id %>
		<%= submit_tag "Add" %>
		<span> <%= "#{possible_friend.name} as a Friend" %></span>
	<% end %>
<% end %>


<div class = "profile-section"/>
<h2> Hey there, <%=@profile.name%>! <br>
		<h2>Age: <%=@profile.age %> <br></h2>
		<h2>Location: <%=@profile.location %><h2>
		<h2>Phone Number: <%=@profile.phone_number%><h2>
		<h2 class="name"></h2>
	
</div>


<div class = "friendship-list"/>
<h2>Make Some Friends <%=@profile.name%> <h2>
<ul>
<% for friend in @profile.friends %>
 <li><%= friend.name %></li>
<% end %>
</div>




