<div class = "profile-section"/>
<h2> Hey there, <%=@profile.name%>! <br>
		<h2> You're sooooooo good looking! <h2>
		<h2>Age: <%=@profile.age %> <br></h2>
		<h2>Location: <%=@profile.location %><h2>
		<h2>Phone Number: <%=@profile.phone_number%><h2>
		<h2>Zip Code: <%=@profile.zipcode%><h2>

	<h2> Here's an idea -- instead of calling your ex, check out your activity cloud, get out there! <h2>
		<h2 class="name"></h2>
		
	
</div>

<script>

$.ajax({
           type: 'GET',
           dataType: 'jsonp',
           jsonp: 'callback',
           url: 'https://api.meetup.com/find/groups?photo-host=public&zip=' + <%=@profile.zipcode%> + '&page=20&country=usa&sig_id=188185019&sig=d9f44a2c374e46c96fe2447861de68aa7750ec29'
               }).done(function(response){
               		for (i = 0; i < response["data"].length; i++){
               				console.log(response["data"][i])
               				console.log(response["data"][i]["name"])
               				$(".name").append("<a href='" + response["data"][i]["link"] + "'>"  + response["data"][i]["name"] + "</a>")

           
               		}
               })
              

</script>


<div class = "friendship-list"/>
<h2>Make Some Friends, <%=@profile.name%> ! <h2>
<ul>
<% for friend in @profile.friends %>
 <li><%= friend.name %></li>
<% end %>
</div>

<div class = "add-friend"/>
<% for possible_friend in @profile.possible_friends %>
	<%= form_tag friendships_path do %>
	  <%= hidden_field_tag 'friend_id', possible_friend.id %>
		<%= submit_tag "Add" %>
		<span> <%= "#{possible_friend.name} as a Friend" %></span>
	<% end %>
<% end %>
</div>







